:root {
  --main-color: #212121;
  --secondary-main-color: #2F303A;
  --secondary-color: #FFFFFF;
  --color-text: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-color);
}



.section{
  padding: 94px; 0;
}
  
 

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.hidden-element{
width: 1px;
height: 1px;
overflow: hidden;
opacity: 0;
}

header{
  border-bottom: 1px solid #ECECEC;
}

header .container{
    display: flex;
    justify-content: space-between ;
}

.nav,
.links,
.contacts{
    display: flex;
}

.logo{
    font-family: "Raleway", sans-serif ;
        display: flex;
    align-items: center;
    margin-right: 93px;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-color-black{
    color: #000 ;
}

.link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
padding: 32px 0;
display: inline-block;
color: var(--main-color);
}

.links .link{
  margin-right: 50px;
}

.contacts .link{
  margin-left: 50px;
  color: var(--color-text);
}

.link:hover,
.link:focus{
  color: #2196F3;
}

.tabs{
  display: flex;
  justify-content: center;
}

.active,
.btn:hover,
.btn:focus{
 background-color:  #2196F3;
 color:var(--secondary-color)
}


.btn{
font-family: Roboto;
font-style: normal;
background: #F5F4FA;
border-radius: 4px;
padding: 6px 22px;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--main-color);
margin-left: 8px;
cursor: pointer;
margin-bottom: 50px;
}



.carts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;
}

.cart-p{
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.cart-p-info{
  padding: 20px 24px;
}

.cart-img{
  margin-top: 50px;
}

.cart-info{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
color:var(--main-color)
}

.cart-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--color-text);
}

.footer{
  background-color: #2F303A;
  padding: 60px 0;
}

.logo-color-white{
 color: var(--secondary-color);
}

.address{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}

.c{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);